* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

a {
  color: #008eb9;
  text-decoration: none;
}

a:hover {
  color: #006b8f;
  text-decoration: underline;
}
